*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: linear-gradient(
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.2)), url(pic/bg8.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    position: relative;
    font-family: sans-serif;
}

.navbar{
    background-color: #00000071;
    width: 100%;
    height: 6vh;;
    margin: auto;
    padding: 10px 0;
    align-items: center;
    justify-content: space-between;
}

.navba{
    display: none;
}



ul li{
    list-style: none;
    margin: 16px;
    float: right;
}

ul li a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
    margin-top: -3%;
    transition: 1s ease;
}

ul li a:hover{
    color: rgb(230,104,59);
}

.info{
    margin-left: 3%;
    margin-top: 1%;
}

.info h1{
    font-size: 50px;
    color: rgb(36,32,30);
}

.info h2{
    font-size: 25px;
}

.info h3{
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 24px;
}

.info span{
    color: rgb(230,104,59);
}

.info a{
    text-decoration:  none;
    background: rgb(36,32,30);
    margin: 26px 0;
    padding: 10px 18px;
    border-radius: 10px;
    display: inline-block;
    transition: .4s ease;
}

.info a:hover{
    background: rgb(59,174,209);
}


.image{
    width: 30%;
    height: 60%;
    position: absolute;
    right: 20px;
    bottom: 0;
}

.image img{
    position: absolute;
    height: 140%;
    left: 40%;
    transform: translate(-55%);
    bottom: 0;
    transition: left 2s ease;
}

.image:hover .boy{
    left: 50%;
}


.icons a{
    text-decoration: none;
    color: #000;
}

.icons ion-icon{
    padding: 20px;
    margin-top: -10px;
    margin-left: 5%;
    margin-bottom: -10px;
    color: #000000;
    margin-right: -50px;
    font-size: 30px;
    transition: .4s ease;
    
}

.icons ion-icon:hover{
    color: rgb(59,174,209);
}

.all_info{
    background-color: #ffffff8c;
    margin-right: 35%;
    margin-left: 10px;
    border: 0px;
    border-radius: 60px;
    padding: 10px;
    box-shadow: 10px 10px 10px 1px #0000008a;
}

.deta{
    padding-left: 5%;
    padding-top: 7px;
    shape-margin: 20%;
    color: black;
    margin-left: -17px;
    position: inherit;
}

.all_info:hover{
    background-color: #b4b4b4;
}


.deta h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.deta b{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
}

@media screen and (max-width: 800px) {
    .image{
      display: none;
    }
    .main{
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.1)), url("pic/sunny1.jpeg");
        background-color: #030303;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    .all_info{
        background-color: #d6d6d656;
        margin: 10%;
    }
        
    .navbar{
        width: 100%;
        margin: auto;
        padding: 10px 0;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.089);

    }

    .navba{
        display:contents;
        color: none;
    }

    .aba{       
        width: 35px;
        height: 5px;
        background-color: rgb(245, 245, 245);
        margin: 6px 0;
        margin-top: -5px;
    }

    .abb{      
        width: 35px;
        height: 5px;
        background-color: rgb(255, 255, 255);
        margin: 6px 0;
    }

    .abc{ 
        width: 35px;
        height: 5px;
        background-color: rgb(255, 254, 254);
        margin: 6px 0;
    }
    
    ul li{
        list-style: none;
        margin: 16px;
        float: right;
    }
    
    ul li a{
        font-size: 10px;
        font-weight: bold;
        text-decoration: none;
        color: #d8cbcb;
        margin-top: -3%;
        transition: 1s ease;
    }
    
    ul li a:hover{
        color: rgb(230,104,59);
    }

    .panel{
        display: none;
        font-size: 10px;
    }
        
    .icons a{
        text-decoration: none;
        color: #000;
    }
    
    .icons ion-icon{
        padding: 20px;
        margin-top: -10px;
        margin-left: 5%;
        color: #000000;
        margin-right: -50px;
        font-size: 30px;
        transition: .4s ease;
        
    }
    
    .icons ion-icon:hover{
        color: rgb(59,174,209);
    }

        
    .info h1{
        font-size: 65px;
        color: rgb(0, 0, 0);
    }
    

        
    .info h3{
        font-size: 15px;
        letter-spacing: 1px;
        line-height: 24px;
        color: #000;
    }

    .info h1{
        font-size: 40px;
    }

    .info h2{
        font-size: 17px;
        color: #000;
    }
    
    .info span{
        color: rgb(255, 72, 6);
    }
    
    .info a{
        text-decoration:  none;
        color: #fff;
        background: rgb(36,32,30);
        margin: 26px 0;
        padding: 10px 18px;
        border-radius: 10px;
        display: inline-block;
        transition: .4s ease;
    }
    
    .info a:hover{
        background: rgb(59,174,209);
    }

    .deta{
        font-size: 13px;
        margin-left: -2%;
    }

        
    .deta h2{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
        text-shadow: #000;
        border-color: white solid;
    }
    
    .deta b{
        font-size: 17px;
    }

}